<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
     <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="my.nlog.notifications@gmail.com"
            smtpPassword="Email4Nlog!"
            enableSsl="true"
            from="noreply@gmail.com"
            to="timothy.gulstine@gmail.com"
            subject="Production warning message"
          />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="gmail" />  </rules>
</nlog>

